body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e0e0e0;
}

@media (min-width: 1000px) {
    .sidenav {
        height: 100%;
        width: 19%; /* 300px; */
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #bdbdbd;
        overflow-x: hidden;
        transition: 0.5s;
        margin-right: 8px;
        border-right: 1px solid #f0f0f0;
    }
    .image-circle {
        width: 66.6%; /* 200px; */
        /* height: 66.6%; /* 200px; */
        height: 0;
        padding-top: 66.6%;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        margin: 0 auto;
    }

    .sidenav img {
        position: absolute;
        width: 105%; /* 200px; */
        display: inline;
        height: 105%; /* 226px; */
        /* margin-top: -110%; */
        left: 0;
        top: 0;
    }

    #main {
        position: absolute;
        margin-left: 19%; /* 300px; */
    }
}

@media (max-width: 1000px) {
    .sidenav {
        width: 100%;
        padding: 0px;
        margin: 0px;
        background-color: #bdbdbd;
    }
    .image-circle {
        width: 33.3%;
        height: 0;
        padding-top: 33.3%;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        margin: 0 auto;
    }

    .sidenav img {
        position: absolute;
        width: 105%; /* 200px; */
        display: inline;
        height: 105%; /* 226px; */
        /* margin-top: -110%; */
        left: 0;
        top: 0;
    }

    #main hr {
        border-bottom: 1px solid #f0f0f0;
        margin: 16px 0 16px 0;
        border-right-width: 0;
        border-left-width: 0;
    }
}

.sidenav p {
    display: inline-block;
    font-size: 15px;
}

.sidenav hr {
    border-bottom: 1px solid #f0f0f0;
    margin: 16px 0 16px 0;
    border-right-width: 0;
    border-left-width: 0;
}


#contact-info {
    text-align: center;
}

a {
    color: #337ab7;
    text-decoration: none;
}

#contact-info a {
    font-size: 15px;
}

.profiles {
    list-style: none;
    text-align: center;
    padding: 0;
}

.profiles a {
    font-size: 2em;
    text-decoration: none;
    color: #000;
    transition: color .5s;
}

.profiles a:hover {
    color: #337ab7;
}

.sidenav h1 {
    text-align: center;
    color: #333;
    margin: 0;
}

.sidenav h3 {
    text-align: center;
    color: #777;
    margin: 0;
}

.section {
    padding-bottom: 30px;
}

.section h1 {
    color: #333;
    display: inline-block;
    margin: 0;
}

.section > .item:not(:last-child) {
    margin-bottom: 8px;
}

.item h3 {
    margin: 0;
    color: #333;
}

.item p {
    font-size: 16px !important;
    color: #777;
}

p {
    margin: 0;
}

.section p {
    font-size: 18px;
}

.summary {
    color: black !important;
}

.text-icon {
    padding-right: 0.25em;
    color: #333;
}
